  <div class="container">
    <div class="jumbotron text-center">
      <h3 class="display-4">Welcome To Trade Application!</h3>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-primary btn-lg btn-block" routerLink="/add" href="add" role="button">Add Trade</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-primary btn-lg btn-block" routerLink="/find" role="button">Find Trade</a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>


